.infosPost {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    gap: 13px;
    padding: 13px 0;
}

.containerInfosIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 0 15px;
}

.boxInfosIcons {
    width: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.likes {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding-left: 17px;
}

.comments {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 0 17px;
}

.comments ion-icon {
    font-size: 16px;
    margin-left: 20px;
}

.commentInput {
    background-color: #FFFFFF;
    display: flex;
    padding: 0 17px;
}

.commentInput input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
}

.commentInput ion-icon {
    font-size: 22px;
    margin-right: 14px;
}

.publish {
    color: #B2DFFC;
    display: flex;
    align-items: center;
    border-radius: 1px;
    margin-left: 20px;
}

.publish:hover {
    color: #0095F6;
    transition: 300ms;
    cursor: pointer;
}