.suggestion {
    height: 32px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}

.displayFlex {
    display: flex;
    align-items: center;
}

.followers {
    margin-left: 11px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.followers h2 {
    height: 14px;
}

.followers p {
    height: 11px;
}