.imgPost {
    width: 612px;
}

.post {
    width: 614px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
}

.post:last-child {
    margin-bottom: 0px;
}

@media (max-width: 614px) {
    .imgPost {
        width: 100%;
        height: auto;
    }

    .post {
        width: 100%;
        height: auto;
        border-right: none;
        border-left: none;
        border-radius: 0;
    }

    .post:last-child {
        margin-bottom: 54px;
    }
}