header {
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    z-index: 2;
}

.boxHeader {
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    margin-left: -467.5px;
    z-index: 1;
    border-bottom: 1px solid #DBDBDB;
}

.logo {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 150px;
    background-color: #ffffff;
}

.logo ion-icon {
    padding: 16px 0;
}

.bar {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
    margin: 15px 0 17px 0;
}

.logoDesktop {
    width: 103px;
    height: 29px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-bottom: 10px;
}

.logoMobile {
    display: none;
}

.search {
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.icons {
    height: 100%;
    width: 144px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 935px) {
    .boxHeader {
        width: 100%;
        margin-left: 0;
        top: 0;
        left: 0;
        justify-content: space-between;
    }

    .logo {
        margin-left: 20px;
    }

    .bar {
        display: none;
    }

    .icons {
        margin-right: 20px;
    }

}

@media (max-width: 614px) {
    .logo {
        width: auto;
    }

    .logoDesktop {
        display: none;
    }

    .logoMobile {
        display: block;
        width: 103px;
        height: 29px;
        background-color: #FFFFFF;
        margin-top: 10px;
    }

    .search {
        display: none;
    }

    .icons ion-icon {
        display: none;
    }

    .icons ion-icon:first-child {
        display: block;
    }

    .icons {
        width: auto;
    }
}