.boxStorie {
    width: 66px;
    height: 86px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 14px;
}

.imgStorie {
    background-image: url("stories.jpg");
    background-size: contain;
    width: 66px;
    height: 66px;
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 614px) {
    .boxStorie {
        background-color: #FAFAFA;
    }
}